---
layout: base
---

<header>

    <div class="container">
        {% include nav.html %}

        <h1>The informatics team is inventing new digital tools for measuring, recording and explaining the natural world.
            <small><i class="fa fa-map-marker"></i> The Natural History Museum, London</small>
        </h1>
    </div>

</header>

<div class="container">

    <div class="row">

        <div class="col-sm-12">

            <ul class="post-list">
                {% for post in site.posts %}
                    {% include list_post.html post=post %}
                {% endfor %}
            </ul>

        </div>

    </div>

</div>
