---
layout: default
---

<div class="container">

    <div class="row">

        <div class="col-sm-9">

            <ul class="post-list">
                {% for post in site.posts %}
                <li class="post-list-item {{ post.categories | join: ' ' }}">
                    <h2>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>
                    {{ post.excerpt }}
                    <span class="post-meta">By {{ post.author }} - {{ post.date | date: "%-d %B %Y" }}</span>


                    {% if post.categories %}
                        <ul class="list-unstyled list-inline post-tags">
                            {% for tag in post.categories %}
                                <li><span class="label label-default">{{ tag }}</span></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-sm-3 side-column">

            <form id="category-filter">
                <h4>Show posts tagged</h4>
                <select>
                    <option value="">All</option>
                    {% for category in  site.categories %}
                        <option value="{{ category | first }}">{{ category | first }}</option>
                    {% endfor %}
                </select>
            </form>


        </div>

    </div>

</div>
