<footer>

    <div class="container">

        <div class="row">

            <div class="col-sm-8">

                <h2 class="footer-heading">{{ site.title }}</h2>

                <p>{{ site.description }}</p>

            </div>

            <div class="col-sm-4">
                {% include social.html %}
            </div>

        </div>

    </div>

</footer>

<script src="{{ '/src/vendor/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/src/vendor/bower_components/socialcount/dist/socialcount.js' | prepend: site.baseurl }}"></script>