
<li>

    <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    {{ post.excerpt }}

    <span class="post-meta">By {{ post.author }} - {{ post.date | date: "%-d %B %Y" }}</span>

    {% if post.categories %}
        <ul class="list-unstyled list-inline post-tags">
            {% for category in post.categories %}
                <li><a href="/categories/{{ category }}" class="label label-default">{{ category }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

</li>
