---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Montserrat', "Helvetica Neue", helvetica, arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.775;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$link-color: #228901;
$link-hover-color: darken($link-color, 10%);

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base",
"layout",
"syntax-highlighting";


a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
  &:visited {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
}

h1, h2, .post-meta{
  font-weight: normal;
}

// Main styles

header {
  background: url('../images/bg.png') no-repeat;
  background-size:cover;
  color: #fff;
  display: none;

  .navbar{
    margin-bottom: 10px;
  }

  a, a:visited, a:hover {
    color: #fff !important;
  }

  a.navbar-brand{
    font-size: 32px;
    font-weight: lighter;
    span{
      position: relative;
      top: 8px;
    }
    img{
      display: inline-block;
      margin-right: 20px;
    }
  }

  h1 {
    margin: 50px auto 60px auto;
    text-shadow: 1px 2px 1px #000;
    max-width: 800px;
    font-size: 30px;
    text-align: left;
    small {
      font-size: 16px;
      display: block;
      margin-top: 30px;
      color: #fff;
      text-align: center;
    }
  }

  ul.nav-social {
    margin-top: 10px;
    a{
      border-color: #fff;
      &:hover {
        background: rgba(255, 255, 255, 0.2) !important;
        color: #fff;
      }
    }
  }

}

ul.nav-social {
  li {
    padding: 5px;
    a {
      background: none !important;
      border-width: 1px;
      border-style: solid;
      padding: 0;
      border-radius: 19px;
      width: 38px;
      height: 38px;
      text-align: center;
      line-height: 38px;
      i {
        font-size: 13px;
        position: relative;
      }

      i.fa-envelope {
        top: -2px;
      }

      i.fa-rss {
        top: -1px;
        font-size: 15px;
      }

      i.fa-github {
        top: 1px;
        font-size: 20px;
      }

    }

  }
}

ul.post-list {
  margin: 50px 0;
  li {
    margin: 25px 0;
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: 25px;

    &:last-child{
      border-bottom: none;
    }


    h2 {
      margin-bottom: 25px;
    }

    .post-meta {
      margin-top: 20px;
    }

  }
}

.post-meta {
  display: block;
  text-transform: uppercase;
  font-size: $small-font-size;
}

h1.post-title{
  margin: 50px 0 30px 0;
}

.side-column {
  .post-meta {
    margin-top: 120px;
    line-height: 25px;
  }
    h4{
    margin: 40px 0 10px 0;
  }
}

ul.post-tags{
  margin: 0;
  li{
    padding: 0 0 0 0;

    a:visited{
      color: #fff;
    }

  }
}

ul.socialcount{
  a{
    position: relative;
    top: 2px;
    &:hover {
      i, span{
        visibility: hidden;
      }
    }

  }
}

.label-default{
  background: $link-color!important;
  padding: 5px 10px!important;
  font-size: 12px!important;
  text-transform: uppercase;

  &:hover{
    background: $link-hover-color!important;
  }

}

footer {
  border: none;
  margin-top: 50px;
  background: $grey-color-light;
  padding-bottom: 50px;

  a, a:visited, a:hover {
    color: $grey-color !important;
  }

  ul.nav-social {
    margin-top: 20px;
    a{
      border-color: $grey-color;
      &:hover {
        background: darken($grey-color-light, 5%) !important;
      }
    }
  }

}





