---
layout: default
---

<div class="container">

    <div class="row">

        <div class="col-sm-9">

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

            <div class="post-content" itemprop="articleBody">
                {{ content }}
            </div>

        </article>

        </div>

        <div class="col-sm-3 side-column">

            <p class="post-meta">
                {% if page.author %} Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span><br />{% endif %}
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
            </p>

            {% if page.categories %}
                <h4>Tagged:</h4>
                <ul class="list-unstyled list-inline post-tags">
                    {% for category in page.categories %}
                        <li><a href="/posts.html?category={{ category }}" class="label label-default">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h4>Share:</h4>

			<ul class="socialcount" data-url="http://www.google.com/" data-counts="true">
				<li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.google.com/" title="Share on Facebook"><i class="fa fa-facebook"></i><span class="count">Like</span></a></li>
				<li class="twitter"><a href="https://twitter.com/intent/tweet?text=http://www.google.com/" title="Share on Twitter"><i class="fa fa-twitter"></i><span class="count">Tweet</span></a></li>
				<li class="googleplus"><a href="https://plus.google.com/share?url=http://www.google.com/" title="Share on Google Plus"><i class="fa fa-google-plus"></i><span class="count">+1</span></a></li>
			</ul>

        </div>
    </div>

</div>
